		{
			"name": "{{path}}",
			"item": [
				{
					"name": "{{summary}}",
					"request": {
						"method": "{{httpMethod}}",
						"header": [
						{{#headerParams}}
                            {
                                "key": "{{paramName}}",
                                "value": "{{schema.defaultValue}}"
                            }{{^-last}},{{/-last}}
                        {{/headerParams}}
						],{{#bodyParam.jsonSchema}}{{#examples}}
						"body": {
                            "mode": "raw",
                            {{! use first example }}
                            "raw": {{#-first}}{{{example}}}{{/-first}},
                            "options": {
                                "raw": {
                                    "language": "json"
                                }
                            }
                        },{{/examples}}{{/bodyParam.jsonSchema}}
						"url": {
							"raw": "{{=<% %>=}}{{baseUrl}}<%={{ }}=%>{{path}}",
							"host": [
								"{{=<% %>=}}{{baseUrl}}<%={{ }}=%>"
							],
							"path": [
							    {{#vendorExtensions.pathSegments}}
							    "{{.}}"{{^-last}},{{/-last}}
							    {{/vendorExtensions.pathSegments}}
							],
							"query": [
							    {{#queryParams}}
								{
									"key": "{{paramName}}",
									"value": "{{example}}"
								}{{^-last}},{{/-last}}
							    {{/queryParams}}
							]
						},
						"description": "{{notes}}"
					},
					"response": [
					    {{#responses}}
						{
							"name": "{{message}}",
							"originalRequest": {
								"method": "{{httpMethod}}",
								"header": [],
								"url": {
									"raw": "{{=<% %>=}}{{baseUrl}}<%={{ }}=%>{{path}}",
									"host": [
										"{{=<% %>=}}{{baseUrl}}<%={{ }}=%>"
									],
									"path": [
									    {{#vendorExtensions.pathSegments}}
                                        "{{.}}"{{^-last}},{{/-last}}
                                        {{/vendorExtensions.pathSegments}}
									],
									"variable": [
									    {{#pathParams}}
                                        {
                                            "key": "{{paramName}}",
                                            "value": "",
                                            "description": "{{description}}"
                                        }{{^-last}},{{/-last}}
                                    {{/pathParams}}
									]
								}
							},
							"code": {{code}},
							"_postman_previewlanguage": "json",
							"header": [
							    {{#headers}}
								{
									"key": "{{name}}",
									"value": "{{schema.defaultValue}}"
								}{{^-last}},{{/-last}}
							    {{/headers}}
							],
                            {{! use first example }}
                            "body": {{#examples}}{{#-first}}{{{example}}}{{/-first}}{{/examples}}}
						}{{^-last}},{{/-last}}
						{{/responses}}
					]
				}
			]
		}