{
    "name": "{{path}}{{#isDeprecated}} (DEPRECATED){{/isDeprecated}}",
                "description": "{{{notes}}}",
                 "item": [
                        {{#vendorExtensions.postmanRequests}}
                            {
                                "name": "{{{name}}}",
                                "request": {{>request}}
                                ,"response": [
                                    {{#responses}}
                                        {"name": "{{name}}",
                                        "code": "{{code}}",
                                        "status": "{{status}}",
                                        "header": null,
                                        "cookie": [],
                                        "body" : "{{{body}}}",
                                        "originalRequest": {{#originalRequest}}{{>request}}{{/originalRequest}}
                                        }{{^-last}},{{/-last}}
                                    {{/responses}}
                                ]
                            }{{^-last}},{{/-last}}
                        {{/vendorExtensions.postmanRequests}}
                            ]
                        }