		{
			"name": "{{path}}",
			"item": [
				{
					"name": "{{summary}}",
					"request": {
						"method": "{{httpMethod}}",
						"header": [
						{{#headerParams}}
                            {
                                "key": "{{paramName}}",
                                "value": "{{schema.defaultValue}}"
                            }{{^-last}},{{/-last}}
                        {{/headerParams}}
						],
						"url": {
							"raw": "{{=<% %>=}}{{baseUrl}}<%={{ }}=%>{{path}}",
							"host": [
								"{{=<% %>=}}{{baseUrl}}<%={{ }}=%>"
							],
							"path": [
							    {{#vendorExtensions.pathSegments}}
							    "{{.}}"{{^-last}},{{/-last}}
							    {{/vendorExtensions.pathSegments}}
							],
							"variable": [
							    {{#pathParams}}
								{
									"key": "{{paramName}}",
									"value": "",
									"description": "{{description}}"
								}{{^-last}},{{/-last}}
							    {{/pathParams}}
							]
						},
						"description": "{{notes}}"
					},
					"response": [
					    {{#responses}}
						{
							"name": "{{message}}",
							"originalRequest": {
								"method": "{{httpMethod}}",
								"header": [],
								"url": {
									"raw": "{{=<% %>=}}{{baseUrl}}<%={{ }}=%>{{path}}",
									"host": [
										"{{=<% %>=}}{{baseUrl}}<%={{ }}=%>"
									],
									"path": [
									    {{#vendorExtensions.pathSegments}}
                                        "{{.}}"{{^-last}},{{/-last}}
                                        {{/vendorExtensions.pathSegments}}
									],
									"variable": [
									    {{#pathParams}}
                                        {
                                            "key": "{{paramName}}",
                                            "value": "",
                                            "description": "{{description}}"
                                        }{{^-last}},{{/-last}}
                                    {{/pathParams}}
									]
								}
							},
							"code": {{code}},
							"_postman_previewlanguage": "json",
							"header": [
							    {{#headers}}
								{
									"key": "{{name}}",
									"value": "{{schema.defaultValue}}"
								}{{^-last}},{{/-last}}
							    {{/headers}}
							],
							"body": "{\n  \"id\": 142,\n  \"firstName\": \"Alice\",\n  \"lastName\": \"Smith\",\n  \"email\": \"alice.smith@gmail.com\",\n  \"dateOfBirth\": \"1997-10-31\",\n  \"emailVerified\": true,\n  \"signUpDate\": \"2019-08-24\"\n}"
						}{{^-last}},{{/-last}}
						{{/responses}}
					]
				}
			]
		}